* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  color: $color--grey--light;
  line-height: 1.4;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased; /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale; /* Firefox */
  // background-image: url('../../img/pattern-randomized.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  // background-color: #1e293b;
  /* background by SVGBackgrounds.com */
}

.particles {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
