.c-avatar {
  width: 100%;
  max-width: 12rem;
  margin: 0 auto 1rem;

  @media (max-width: 767px) {
    margin-top: 1.5rem;
  }
}

  .c-avatar__img {
    display: block;
    max-width: 100%;
    border-radius: 50%;
    overflow: hidden;
  }
