.c-nav {
  position: relative;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    max-height: 100%;
    flex: 0 0 25%;
    padding: 2.5rem 2rem;
    background-color: $color--grey--light;
  }
}

  .c-nav__wrapper {
    @media (max-width: 767px) {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      max-height: 100vh;
      overflow-y: auto;
      transform: translateY(-100%);
      transition: transform .3s ease-in-out;
      background-color: $color--grey--light;

      .is-visible--mobile-menu & {
        transform: translateY(0);
      }
    }
  }

    .c-nav__avatar {
      width: 100%;
      max-width: 12rem;
      margin: 0 auto 1rem;

      @media (max-width: 767px) {
        margin-top: 1.5rem;
      }
    }

      .c-nav__avatar__img {
        display: block;
        max-width: 100%;
        border-radius: 50%;
        overflow: hidden;
      }

  .c-nav__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }

    .c-nav__link {
      color: $color--black;
      text-align: center;
      text-decoration: none;
      margin: 0.75rem 0;
      transition: color .3s ease;

      &:hover,
      &:focus,
      &--active {
        color: $color--orange;
      }
    }

  .c-nav__socials {
    display: flex;
    justify-content: center;
    margin: 0.75rem auto;
  }

    .c-nav__socials__link {
      display: inline-block;
      color: $color--black;
      font-size: 2rem;

      &:not(:first-child) {
        margin-left: 1rem;
      }

      &:hover,
      &:focus {
        color: $color--orange;
      }
    }

  .c-nav__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    padding: 0;
    border: 0;
    background-color: transparent;
    appearance: none;
    cursor: pointer;

    @media (min-width: 768px) {
      display: none;
    }
  }

    .c-nav__toggle__bars {
      @include line;
      position: relative;

      &::before,
      &::after {
        @include line;
        position: absolute;
        content: '';
      }

      &::before {
        top: -7px;
      }

      &::after {
        bottom: -7px;
      }

      .is-visible--mobile-menu & {
        transform: rotate(45deg) translateY(-50%);

        &::before {
          transform: rotate(-90deg) translateX(-7px);
        }

        &::after {
          opacity: 0;
        }
      }
    }
